<div class="col-lg-6 d-none d-lg-flex flex-column align-items-center justify-content-center bg-light">
    <img class="img-fluid position-relative u-z-index-3 mx-5" src="~/assets/svg/mockups/mockup.svg" alt="Image description">

    <figure class="u-shape u-shape--top-right u-shape--position-5">
        <img src="~/assets/svg/shapes/shape-1.svg" alt="Image description">
    </figure>
    <figure class="u-shape u-shape--center-left u-shape--position-6">
        <img src="~/assets/svg/shapes/shape-2.svg" alt="Image description">
    </figure>
    <figure class="u-shape u-shape--center-right u-shape--position-7">
        <img src="~/assets/svg/shapes/shape-3.svg" alt="Image description">
    </figure>
    <figure class="u-shape u-shape--bottom-left u-shape--position-8">
        <img src="~/assets/svg/shapes/shape-4.svg" alt="Image description">
    </figure>
</div>