@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model LTMCompanyNameFree.YoyoCmsTemplate.Web.Models.Account.LoginFormViewModel
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>

}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}

    <form id="LoginForm" asp-action="Login" class="mb-3" method="post">
        <div class="mb-3">
            <h1 class="h2">欢迎 回到52ABP!</h1>
            <p class="small">
                登录您的账号  ， 52ABP 是终身学习者的编程知识社区 保持好奇，刻意练习，每日精进。

            </p>
        </div>

        @*<div class="d-flex my-4">
                    <a class="btn btn-sm btn-dark px-3 mr-2" href="#">
                        <i class="fab fa-github mr-1"></i> Login with Github
                    </a>

                    <a class="btn btn-sm btn-danger px-3" href="#">
                        <i class="fab fa-google mr-1"></i> Login with Google
                    </a>
                </div>

            <p class="small">
               采用传统的账号密码登录
            </p> *@



        <div class="form-group mb-4">
            <label for="email">Your email</label>
            <input id="email" class="form-control" name="email" type="email" placeholder="john.doe@example.com">
        </div>

        <div class="form-group mb-4">
            <label for="password">Password</label>
            <input id="password" class="form-control" name="password" type="password" placeholder="Your password">
        </div>

        <div class="form-group d-flex justify-content-between align-items-center mb-4">
            <div class="custom-control custom-checkbox">
                <input id="rememberMe" class="custom-control-input" name="rememberMe" type="checkbox">
                <label class="custom-control-label" for="rememberMe">Remember me</label>
            </div>

            <a class="link-muted small" href="account-password-recover.html">Forgot Password?</a>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Login</button>
    </form>

    <p class="small">
        Don’t have an account? <a href="account-sign-up.html">Sign Up here</a>
    </p>
    <vc:account-languages></vc:account-languages>

