@using LTMCompanyNameFree.YoyoCmsTemplate.Web.Views.Shared.Components.TopBarUserProfile
@model TopBarUserProfileViewModel

@if (Model.LoginInformations != null && Model.LoginInformations.User != null)
{
    <!-- TopBarUserProfile -->
    <div class="dropdown ml-2">
        <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="~/assets/img/avatars/img1.jpg" alt="User Profile">
            <span class="text-dark d-none d-sm-inline-block">
                @Html.Raw(Model.GetShownLoginName()) <small class="fa fa-angle-down text-muted ml-1"></small>
            </span>
        </a>

        <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3"
             aria-labelledby="dropdownMenuLink" style="width: 260px;">
            <div class="card">
                <div class="card-header py-3">
                    <!-- Storage -->
                    <div class="d-flex align-items-center mb-3">
                        <span class="h6 text-muted text-uppercase mb-0">邮箱地址：</span>

                        <div class="ml-auto text-muted">
                            <strong class="text-dark">@Model.LoginInformations.User.EmailAddress</strong>
                        </div>
                    </div>

                 
                    <!-- End Storage -->
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-4">
                            <a class="d-flex align-items-center link-dark" href="#!">
                                <span class="h3 mb-0">
                                    <i class="far fa-user-circle text-muted mr-2"></i>
                                </span> View Profile
                            </a>
                        </li>
                        <li class="mb-4">
                            <a class="d-flex align-items-center link-dark" href="#!">
                                <span class="h3 mb-0">
                                    <i class="far fa-list-alt text-muted mr-2"></i>

                                </span> Settings
                            </a>
                        </li>
                     

                        <li>
                            <a class="d-flex align-items-center link-dark" href="@Url.Action("Logout", "Account", new { area= string.Empty }) ">
                                <span class="h3 mb-0"><i class="far fa-share-square text-muted mr-2"></i></span>@L("Logout")
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End User Profile -->


}

