<div class="container">

  <div class="top">
    
    <div class="head">
      <a [routerLink]="['/']">
        <img class="logo" src="/assets/images/logos/logo-txt-color-shield.svg">
      </a>
    </div>

    <p class="desc">您现在使用的是免费开源版本；欢迎到
      <a href="http://www.52abp.com/" target="_blank">52ABP.COM</a>了解更多的框架信息
    </p>

    <div *ngIf="showTenantChange()">
      <tenant-change></tenant-change>
    </div>

  </div>

  <router-outlet></router-outlet>

  <br>
  <account-languages></account-languages>

  <global-footer [links]="links">
    Copyright
    <i class="anticon anticon-copyright"></i> {{currentYear}}
    <b>Version </b>{{versionText}}
    <a href="http://www.52abp.com/" target="_blank">52ABP.COM</a>出品
  </global-footer>

</div>
