 
@using LTMCompanyNameFree.YoyoCmsTemplate

 <!-- Footer -->
    <footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted">
        <ul class="list-inline small mb-3 mb-md-0">
            <li class="list-inline-item mr-4">
                <a class="text-muted" href="https://dwz.cn/kQydQrTe">
                    52ABP快速开发视频
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-muted" href="https://study.163.com/course/courseMain.htm?courseId=1209215803&share=2&shareId=400000000309007">
                    从零开始掌握 Asp.Net Core
                </a>
            </li>
        </ul>

        <small class="text-muted ml-auto">&copy; @DateTime.Now.Year  <a class="text-muted" href="www.52abp.com">52ABP.COM</a>  - All Rights Reserved. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small>

    </footer>
<!-- End Footer -->



 