<div class="top-nav-wrap">
  <ul class="top-nav">
    <!-- 菜单按钮 -->
    <li>
      <div class="item" (click)="toggleCollapsedSideabar()">
        <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    <!-- Github Page -->
    <li>
      <a class="item" href="//github.com/52ABP/LTMCompanyNameFree.YoyoCmsTemplate" target="_blank">
        <i class="anticon anticon-github"></i>
      </a>
    </li>
    <!-- 52abp网站 -->
    <li>
      <a class="item" href="//www.52abp.com" target="_blank">
        <i class="anticon anticon-link"></i>
      </a>
    </li>
  </ul>
</div>


<div style="right:10px;position: fixed;">
  <ul class="top-nav">
    <!-- 语言切换 -->
    <header-languageswitch></header-languageswitch>
    <!-- 设置 -->
    <li class="hidden-xs">
      <nz-dropdown nzTrigger="click" nzPlacement="bottomRight">
        <div class="item" nz-dropdown>
          <i class="anticon anticon-setting"></i>
        </div>
        <div nz-menu style="width:200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage></header-storage>
          </div>
        </div>
      </nz-dropdown>
    </li>
    <!-- 右侧用户信息有关内容 -->
    <li class="hidden-xs">
      <header-user></header-user>
    </li>

  </ul>
</div>
