<div [@routerTransition]>
  <form nz-form [formGroup]="validateForm" class="login-form">

    <br>

    <!-- 账号 -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-user">
          <input nz-input formControlName="userName" placeholder="{{l('UserNameOrEmail')}}" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 密码 -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-lock">
          <input nz-input formControlName="password" placeholder="{{l('Password')}}" [(ngModel)]="loginService.authenticateModel.password"
            type="password">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 记住我 -->
    <nz-form-item>
      <nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember" [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme">
          <span>{{l("RememberMe")}}</span>
        </label>
      </nz-col>
      <!-- <nz-col [nzSpan]="12" class="text-right" *ngIf="isSelfRegistrationAllowed">
        <a [routerLink]="['../register']">{{l("Register")}}</a>
      </nz-col> -->
    </nz-form-item>

    <!-- 登陆按钮 -->
    <nz-form-item>
      <button nz-button (click)="login()" nzType="primary" type="submit" [disabled]='!validateForm.valid' class="ant-btn__block">{{l("LogIn")}}</button>
    </nz-form-item>

    <!-- 注册 -->
    <nz-form-item>
      <nz-col [nzSpan]="12">
      </nz-col>
      <nz-col [nzSpan]="12" class="text-right" *ngIf="isSelfRegistrationAllowed">
        <a [routerLink]="['../register']">{{l("Register")}}</a>
      </nz-col>
    </nz-form-item>

  </form>
</div>
