<div [@routerTransition]>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submit()">
    <br>
    <!-- 账号 -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-user">
          <input nz-input formControlName="userName" placeholder="{{l('UserNameOrEmail')}}">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 密码 -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-lock">
          <input nz-input formControlName="password" placeholder="{{l('Password')}}" type="password">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 记住我 -->

    <nz-form-item>
      <nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="rememberMe">
          <span>{{l("RememberMe")}}</span>
        </label>
      </nz-col>
    </nz-form-item>

    <!-- 登陆按钮 -->
    <button nz-button nzType="primary" type="submit" class="ant-btn__block" [disabled]="!validateForm.valid">{{l("LogIn")}}</button>

    <!-- 注册 -->
    <nz-form-item>
      <nz-col [nzSpan]="12">
      </nz-col>
      <nz-col [nzSpan]="12" class="text-right" *ngIf="isSelfRegistrationAllowed">
        <a [routerLink]="['../register']">{{l("Register")}}</a>
      </nz-col>
    </nz-form-item>



  </form>
</div>
