<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="collapsed" [nzTheme]="themeValue">
  <ng-template ngFor let-menuItem [ngForOf]="list" let-mainMenuItemIndex="index">
    <li *ngIf="canShow(menuItem)&&!hasChildren(menuItem)" nz-menu-item routerLinkActive="ant-menu-item-selected">
      <a [routerLink]="[menuItem.link]">
        <i *ngIf="menuItem.icon" class="{{menuItem.icon}}"></i>
        <span>{{menuItem.text}}</span>
      </a>
    </li>

    <li *ngIf="canShow(menuItem)&&hasChildren(menuItem)" nz-submenu>
      <span title>
        <i *ngIf="menuItem.icon" class="{{menuItem.icon}}"></i>
        <span>{{menuItem.text}}</span>
      </span>
      <ul>
        <ng-template ngFor let-subMenuItem [ngForOf]="menuItem.children" let-mainMenuItemIndex="index">
          <li *ngIf="canShow(subMenuItem)&&!hasChildren(subMenuItem)" nz-menu-item>
            <a [routerLink]="[subMenuItem.link]">
              <i *ngIf="subMenuItem.icon" class="{{subMenuItem.icon}}"></i>
              <span>{{subMenuItem.text}}</span>
            </a>
          </li>

          <li *ngIf="canShow(subMenuItem)&&hasChildren(subMenuItem)" nz-submenu>
            <span title>
              <i *ngIf="subMenuItem.icon" class="{{subMenuItem.icon}}"></i>
              <span>{{subMenuItem.text}}</span>
            </span>

            <ul>
              <ng-template ngFor let-subSubMenuItem [ngForOf]="subMenuItem.children" let-mainMenuItemIndex="index">
                <li *ngIf="canShow(subSubMenuItem)&&!hasChildren(subSubMenuItem)" nz-menu-item routerLinkActive="ant-menu-item-selected">
                  <a [routerLink]="[subSubMenuItem.link]">
                    <i *ngIf="subSubMenuItem.icon" class="{{subSubMenuItem.icon}}"></i>
                    <span>{{subSubMenuItem.text}}</span>
                  </a>
                </li>
              </ng-template>
            </ul>
          </li>
        </ng-template>
      </ul>
    </li>
  </ng-template>
</ul>
