<div>

  <div class="modal-header">
    <div class="modal-title">{{l('EditTenant')}}</div>
  </div>

  <nz-spin [nzSpinning]="!tenant">
    <form nz-form #validateForm="ngForm" (ngSubmit)="save()" *ngIf="tenant">

      <!-- 租户名称 -->
      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <input nz-input name="tenancyName" #tenancyName="ngModel" [(ngModel)]="tenant.tenancyName" [placeholder]="l('TenancyName')"
            required>
          <nz-form-explain *ngIf="tenancyName.control.dirty&&tenancyName.control.errors">
            <ng-container *ngIf="tenancyName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- 名称 -->
      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <input nz-input name="name" #name="ngModel" [(ngModel)]="tenant.name" [placeholder]="l('Name')" required>
          <nz-form-explain *ngIf="name.control.dirty&&name.control.errors">
            <ng-container *ngIf="name.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- 激活 -->
      <nz-form-control>
        <label nz-checkbox name="isActive" [(ngModel)]="tenant.isActive">{{l("IsActive")}}</label>
      </nz-form-control>



      <!-- 功能按钮 -->
      <div class="modal-footer">
        <button nz-button type="button" [disabled]="saving" (click)="close()">
          {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
          {{l("Save")}}
        </button>
      </div>

    </form>
  </nz-spin>
</div>
