<div class="modal-footer">
    <button type="button" class="btn  btn-secondary close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn  btn-primary save-button">@L("Save")</button>
</div>

 