   <!-- TopBarNotifications -->
<div class="dropdown mr-4">
    <a class="link-muted" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
        <span class="h3">
            <i class="far fa-bell"></i>
        </span>
        <span class="u-indicator u-indicator-top-right u-indicator--xxs bg-info"></span>
    </a>

    <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-4" aria-labelledby="dropdownMenuLink" style="width: 360px;">
        <div class="card">
            <div class="card-header d-md-flex align-items-center py-3">
                <h2 class="h4 card-header-title">Notifications</h2>
                <a class="ml-auto" href="#">Clear all</a>
            </div>

            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    <!-- Notification -->
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media align-items-center">
                            <div class="u-icon u-icon--sm rounded-circle bg-danger text-white mr-3">
                                <i class="fab fa-dribbble"></i>
                            </div>

                            <div class="media-body">
                                <div class="d-md-flex align-items-center">
                                    <h4 class="mb-1">Dribbble</h4>
                                    <small class="text-muted ml-md-auto">23 Jan 2018</small>
                                </div>

                                <p class="text-truncate mb-0" style="max-width: 250px;">
                                    <span class="text-primary">htmlstream</span> just liked your post!
                                </p>
                            </div>
                        </div>
                    </a>
                    <!-- End Notification -->
                    <!-- Notification -->
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media align-items-center">
                            <div class="u-icon u-icon--sm rounded-circle bg-info text-white mr-3">
                                <i class="fab fa-twitter"></i>
                            </div>

                            <div class="media-body">
                                <div class="d-md-flex align-items-center">
                                    <h4 class="mb-1">Twitter</h4>
                                    <small class="text-muted ml-md-auto">18 Jan 2018</small>
                                </div>

                                <p class="text-truncate mb-0" style="max-width: 250px;">
                                    Someone mentioned you on the tweet.
                                </p>
                            </div>
                        </div>
                    </a>
                    <!-- End Notification -->
                    <!-- Notification -->
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media align-items-center">
                            <div class="u-icon u-icon--sm rounded-circle bg-success text-white mr-3">
                                <i class="fab fa-spotify"></i>
                            </div>

                            <div class="media-body">
                                <div class="d-md-flex align-items-center">
                                    <h4 class="mb-1">Spotify</h4>
                                    <small class="text-muted ml-md-auto">18 Jan 2018</small>
                                </div>

                                <p class="text-truncate mb-0" style="max-width: 250px;">
                                    You've just recived $25 free gift card.
                                </p>
                            </div>
                        </div>
                    </a>
                    <!-- End Notification -->
                    <!-- Notification -->
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media align-items-center">
                            <div class="u-icon u-icon--sm rounded-circle bg-info text-white mr-3">
                                <i class="fab fa-facebook-f"></i>
                            </div>

                            <div class="media-body">
                                <div class="d-md-flex align-items-center">
                                    <h4 class="mb-1">Facebook</h4>
                                    <small class="text-muted ml-md-auto">18 Jan 2018</small>
                                </div>

                                <p class="text-truncate mb-0" style="max-width: 250px;">
                                    <span class="text-primary">htmlstream</span> commented in your post.
                                </p>
                            </div>
                        </div>
                    </a>
                    <!-- End Notification -->
                </div>
            </div>

            <div class="card-footer py-3">
                <a class="btn btn-block btn-outline-primary" href="#">View all notifications</a>
            </div>
        </div>
    </div>
</div>
<!-- End Notifications -->